* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 247, 247);
}
.container{
    margin: auto;
    background-color: aqua;
    max-height: 900px;
    margin-top: 20px;
    max-width: 400px;
    border: 3px solid greenyellow;
}

h1{
    text-decoration: overline;
}
p{
    margin-bottom: 15px;
    font-size: 0.8rem;
}
.formdiv{
    margin: 10px;
    border: 2px solid blueviolet;
    max-width: 350px;
    border-radius: 8px;
}
.buttonun{
    margin-left: 50px;
    margin-bottom: 50px;
}
